In [7]:
import pandas as pd
import seaborn as sns

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [13]:
df = pd.read_csv('USA_Housing.csv')

In [15]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [30]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [32]:
df.corr()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
Avg. Area Income,1.000000,-0.002007,-0.011032,0.019788,-0.016234,0.639734
Avg. Area House Age,-0.002007,1.000000,-0.009428,0.006149,-0.018743,0.452543
Avg. Area Number of Rooms,-0.011032,-0.009428,1.000000,0.462695,0.002040,0.335664
Avg. Area Number of Bedrooms,0.019788,0.006149,0.462695,1.000000,-0.022168,0.171071
Area Population,-0.016234,-0.018743,0.002040,-0.022168,1.000000,0.408556
Price,0.639734,0.452543,0.335664,0.171071,0.408556,1.000000

In [34]:
## regressão linear

x = df[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Avg. Area Number of Bedrooms']] #caracteristicas
y = df['Price']

In [36]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y)

In [38]:
x_treino

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms
4345,69657.362791,6.352332,5.368804,3.08
2608,77922.986165,5.931749,5.629373,4.40
2609,68811.671696,6.467667,6.497299,2.02
1124,81438.581432,4.757793,6.963085,2.29
4206,96550.998883,8.203879,5.266307,3.22
...,...,...,...,...
754,89946.900199,6.601666,8.292576,4.17
853,74633.941705,5.745854,5.627388,3.40
3144,38571.963670,7.425292,5.723009,3.47
1594,68355.442174,7.007745,6.610357,4.29
508,86625.481836,6.830319,5.645363,3.38

In [42]:
modelo = LinearRegression()

In [44]:
modelo.fit(x_treino, y_treino)

LinearRegression()

In [46]:
y_previsto = modelo.predict(x_teste)

In [51]:
df['Price'].mean()

1232072.654142357

In [53]:
mean_absolute_error(y_previsto, y_teste)

143768.72844654633